<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- build:css(.) css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(app) css/main.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->

</head>
<body>

    <% if (notTV) { -%>
    <ion-nav-bar>
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
    <% } else { -%>
    <ion-nav-view class="view-container"></ion-nav-view>
    <% } -%>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- <script src="cordova.js"></script> -->
    <script src="summer.js"></script>

    <!-- build:js(.) js/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) js/scripts.js -->
    <script src="js/app.js"></script>

    <script src="js/controllers/controllers.js"></script>

    <script src="js/directives/directives.js"></script>

    <script src="js/filters/filters.js"></script>

    <script src="js/services/services.js"></script>
    <script src="js/services/InitService.js"></script>

    <script src="js/utility/utility.js"></script>

    <!-- inject:templates -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

</body>
</html>
